/*Useful sources
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries 
https://www.sitepoint.com/media-queries-width-vs-device-width/*/


/* FOR LAPTOPS, DESKTOPS */

body {
    background-color: teal;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
}

#portfolioTitle {
    text-align: center;
    font-size: 36;
    color: whitesmoke;
    left: 0;
    padding: 2em;
    padding-bottom: 2em;
}


/* #widthheight {
    text-align: center;
    font-size: 10;
    color: rgba(0, 255, 255, 0.2);
    display: none;
} */

#desktop {
    width: 80vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 2em;
}

#desktop a {
    margin: 2vw;
    color: white;
    text-decoration: none;
}

#mobile a {
    margin: 2vw;
    color: black;
    text-decoration: none;
}

#mobile {
    display: none;
}

.websites-list {
    position: absolute;
    width: 80vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    background-color: red;
    color: white;
}

.portfolioListTitle {
    color: orangered;
    font-size: 30px;
}

.website-container {
    left: 0;
    right: 0;
    margin: 2%;
    display: inline-block;
}

.website-image {
    margin: 5px;
}

@media all and (min-width: 800px) and (max-width: 1200px) {
    body {
        background-color: black;
    }
}

@media all and (min-width: 1201px) {
    body {
        background-color: grey;
    }
}


/* FOR MOBILE */


/*Source for different devices http://cssmediaqueries.com/target/*/

@media all and (max-device-width: 480px) and (orientation: portrait) {
    body {
        background-color: beige;
    }
    #portfolioTitle {
        color: black;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }
}


/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/

@media all and (max-device-width: 480px) and (orientation: landscape) {
    body {
        background-color: whitesmoke;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }
}


/*
/* FOR LAPTOPS, DESKTOPS */


/* @media all and (min-width: 800px) and (max-width: 1200px) {}

@media all and (max-width: 799px) {}


/* FOR MOBILE */


/*Source for different devices http://cssmediaqueries.com/target/*/


/* @media all and (max-device-width: 480px) and (orientation: portrait) {}


/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/


/*@media all and (max-device-width: 480px) and (orientation: landscape) {}*/